/* General style:
	nav bar style (not including phone nav bar "color")
	page title style
	article style
	font style
	end of page city picture style
*/
/*
中文:
導覽列-台北黑體
	font-family: "TaipeiSansTCBeta", sans-serif;
內文-台北黑體
	font-family: "TaipeiSansTCBeta", serif;
標題-圓體
	font-family: "ResourceHanRoundedTC", sans-serif; 

font-family: 'Heebo', sans-serif;
font-family: 'Inter', sans-serif;

font-family: 'Josefin Slab', serif;

font-family: 'IBM Plex Serif', serif;

不喜歡font-family: 'Noticia Text', serif;

英文:
導覽列

進度條
		.scrollbar > a{
			font-family: 'Josefin Slab', serif;
		}
內文
		font-family: 'Heebo', sans-serif;
標題
		font-family: 'Josefin Slab', serif;

*/

@font-face {
  font-family: TaipeiSansTCBeta;
  src: url(TaipeiSansTCBeta/TaipeiSansTCBeta-Regular.ttf);
}

@font-face {
  font-family: TaipeiSansTCBeta;
  src: url(TaipeiSansTCBeta/TaipeiSansTCBeta-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: ResourceHanRoundedTC;
  src: url(RHR-TTF-0.990/ResourceHanRoundedTC-Regular.ttf);
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
}

body {
	font-family: "Inter", sans-serif;
	font-family: TaipeiSansTCBeta, serif;
}

/* different body background color */
.bg-home-page{
	background-color: rgb(235, 245, 251);
}

.bg-feature-page{
	background-color: rgb(234, 215, 215);
}

/* only show on lg screen and larger */
.show-on-lg {
	display: none; /* Hide by default */
}

@media (min-width: 993px) {
	.show-on-lg {
		display: block; /* Show on large screens (lg and above) */
	}
}

/* only show on smaller than lg screens */
.hide-on-lg {
	display: none; /* Hide by default */
}

@media (max-width: 992px) {
	.hide-on-lg {
		display: block; /* Show on large screens (lg and above) */
	}
}


/* nav bar for mobil defult is home page color*/

.nav-fixed-bar-bg{
	background-color: rgb(11, 181, 173);
}

.nav-fixed-bar-text{
	font-weight: 700;
	color: rgb(5, 63, 60);
	background-color: rgba(251, 246, 234, 0.42);
	border: none;
}

.offcanvas-header{
	color: rgb(248, 248, 248); 
	background-color: rgb(189, 162, 117);
}

.offcanvas-body{
	background-color: rgb(245, 231, 207);
}

.offcanvas-text{
	text-decoration: none;
	color: black;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-family: TaipeiSansTCBeta, sans-serif;
	font-weight: 700;
}


/* nav bar for big screen*/
a>img{ /*make fire icon look good*/
	width: 2vw;
	vertical-align: middle;
	padding: 0 4% 1% 0;
}

.nav-card{/* make sure the menu has transparent background */
	background: none; /* Remove background */
	border: none; /* Remove border */
}

.bg-nav-fire{/* half transparent background for fire icon */
	background-color: rgba(237, 229, 221, 0.16);
	border-radius: 50%;
}

.nav-text-box{
	color: rgb(45, 45, 42);
	background-color: rgb(251, 246, 234);
	border-color: rgb(189, 162, 117);
	border-style: solid;
	border-width: 1px;
	margin-left: 2px;
}

.nav-current-page{
	color: rgb(45, 45, 42);
	background-color: rgb(251, 246, 234);
	border-color: rgba(213, 188, 145, 0.745);
	font-weight: 900;
	border-style: solid;
	border-width: 2px;
	margin-left: 2px;
}

.nav-fire-current-page{
	background-color: rgba(255, 241, 132, 0.738);
	border-radius: 50%;
}

.nav-text{
	text-decoration: none;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-family: TaipeiSansTCBeta, sans-serif;
	font-weight: 700;
}

/* card style and article/title background */
.card{
	border: none;
}

.bg-home-article{
	background-color: rgb(250, 253, 255);
}

.bg-feature-article{
	background-color: rgb(254, 251, 251);
}


/* article and title styling */
.page-title{
	width: 60%;
}

.article-content{
	width: 90%;
}

/* article small block title */
.title{
	width: 55%;
	margin-top: 3%;
	margin-bottom: -15px;
	padding-top: 15px;
	padding-bottom: 0;
	z-index: 1;
}

.title-text{
	color: rgb(255, 255, 255);
	background-color: rgb(152, 3, 3);
	border: none;
}


h1,h2,h3 {
	font-family:"IBM Plex Serif", serif;
	font-family: ResourceHanRoundedTC, sans-serif; 
	font-weight: 800;
} 

/* modal styling */
.modal-button{
	color: rgb(45, 45, 42);
	background-color: rgb(251, 246, 234);
	border-color: rgba(213, 188, 145, 0.745);
	font-weight: 900;
	border-style: solid;
	border-width: 2px;
}

	

